@charset "utf-8";
/* CSS Document */
@import url("css/fonts.css");
*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;outline: none;margin: 0;}
body{font-family: 'Open Sans', sans-serif;line-height:1.5;margin: 0;padding: 0;}
img{max-width: 100%;height: auto;vertical-align: middle;}
iframe{max-width: 100%; }
.grecaptcha-badge{display: none !important;}
a{text-decoration: none;outline: none;} a:hover,a:focus{color: unset;outline: none;}
ul{visibility: visible;}
.slick-slider .slick-slide > div{display: flex;}
.clearfix {float: none;clear: both;}
.clearfix:before{content: ""; display: table;}
.clearfix:after{content: ""; clear: both;}
.table-responsive {width: 100%;overflow-x: auto;overflow-y: hidden;-ms-overflow-style: -ms-autohiding-scrollbar;}
#main{width:100%;position: relative;}
#info{width:100%;position:  relative;padding: 15px 0;border-top: 1px solid #ddd;}
#info .noidung_detail{display: block;width: 100%;}
#info .noidung_detail .ngaydang{font-size: 14px; font-weight: 400; font-style: italic;}
#info .noidung_detail .noidung *{max-width: 100%;height: auto;}
#info .noidung_detail .noidung{margin: 10px 0;}
.addthis_inline_share_toolbox{width: 100%;display: inline-flex;}
.margin_auto{width: 1200px;margin: 0 auto;}
#container{position: relative;transition: 0.5s all;background: #ffffff;width: 1366px;margin: 0 auto;}
.bando iframe{width: 100%;height: 100%;display: block;}
#popup{display: none;padding: 0;max-width: 95%;}
.loading{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);display: none;}
.updating{width: 100%;text-align:center;color: #000000;font-weight: 400;font-size: 14px;text-transform:uppercase;padding: 10px 0;}
.khung_flex{display: flex;flex-wrap: wrap;justify-content: space-between;position: relative;}
.khung_flex.flex_center{align-items: center;}
.khung_flex.flex_end{align-items: flex-end;}
/*Face right*/
.face_right{position: fixed;width: 350px;transition: 0.5s;display:  flex;justify-content: space-between;z-index: 10;bottom: 130px;left: 15px;}
.face_right.active{right: 0px;z-index: 999999999;}
.face_right .img_face{width: 50px;padding: 0;}
.face_right .rowf_right{width: 290px;}
.fanpage_right{position: fixed;bottom: 300px;right: -303px;width: 355px;transition: 0.5s;display:  flex;flex-wrap:  wrap;z-index: 100;}
.fanpage_right.active{ right: 0px; }
.fanpage_right .img_fanpage{width: 55px;padding: 0;}
.fanpage_right .rowf_right{width: 300px;}
/* MXH */
.mangxh h4{  margin-top: 8px; font-size: 16px; color: #fff; }
.mangxh a{  padding: 2px 5px 0px 5px; }
/* Header */
#header{position: relative;width: 100%;}
.ht_fixed{opacity: 1 !important;visibility: visible !important;transition: 0.5s all;}
#header .hotline_fixed span{display: block;background: #fff;float: left;height: 40px;padding: 5px 20px;padding-right: 10px;border-radius: 40px 0px 0px 40px;line-height: normal;}
#header .hotline_fixed img{
	width: 20px;
	padding-top: 4px;
	-webkit-animation: wrench 2.5s ease infinite;
	animation: wrench 2.5s ease infinite;
	transform-origin-x: 90%;
	transform-origin-y: 35%;
	transform-origin-z: initial;}
@keyframes wrench{
    0% {
        -webkit-transform: rotate(-12deg);
        -ms-transform: rotate(-12deg);
        transform: rotate(-12deg);
    }
    8% {
        -webkit-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
        transform: rotate(12deg);
    }
    10%, 28%, 30%, 48%, 50%, 68% {
        -webkit-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
        transform: rotate(24deg);
    }
    18%, 20%, 38%, 40%, 58%, 60% {
        -webkit-transform: rotate(-24deg);
        -ms-transform: rotate(-24deg);
        transform: rotate(-24deg);
    }
    100%, 75% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
}
#header .hotline_fixed strong{font-size: 15px;color: #ffffff;font-weight: 700;font-family: 'Roboto', sans-serif;padding: 10px 15px;}
#header .hotline_fixed{display: block;position: fixed;right: 20px;top: 92px;z-index: 990;height: 40px;line-height: 40px;background: #3952a4;border-radius: 40px;opacity: 0;visibility: hidden;}
.head_t{font-family: UTMAvo; font-size: 14px; color: #ffffff; background: #000000; padding: 10px 0;}
.head_t p{display: inline-block;}
#header .header{position: relative;background: #2a9256;}
#header .diachi p{  font-family: 'Roboto', sans-serif;
color: #ffffff;
font-size: 13px;
margin-left: 20px;}
#header .header .hotline label{display: block;font-size: 15px;color: #070707;font-weight: 400;}
#header .header .hotline p{font-size: 15px;color: #ffffff;font-weight: 700;font-family: 'Roboto', sans-serif;}
#logo{position: relative;}
#logo img,#banner img{display: block;}
/* Main menu */
#mainmenu{position: relative;width: 100%;background: url(images/truongvu/bg_menu.png) no-repeat center;padding: 10px 0px;background-size: 100%;}
#header.fixed{position: fixed;top: 0;left: 0;width: 100%;z-index: 2;background: #fff;}
#header.fixed nav.menu_top > ul > li > a img{display: inline-block; margin: 0 10px 0 0;}
/* Title */
.title{width: 100%;position: relative;margin: 0 0 30px 0;text-align: center;}
.title p{font-size: 15px;color: #141414;font-weight: 400;text-transform: uppercase;}
.title h4,.title h2{font-size: 29px;color: #141414;position: relative;font-weight: 700;text-transform: uppercase;display: inline-block;}
.title.white h2, .title.white h4,.title.white p{color: #ffffff;}
.title.white h2, .title.white h4{background: url(images/title_w.png) no-repeat bottom center;}
.tab_sp{padding: 0;position: relative;text-align: center;}
.tab_sp li{position: relative;list-style: none;font-size: 14px;cursor: pointer;font-weight: 400;color: #272727;display: inline-flex;padding: 10px 25px;line-height: 1;margin: 0 2px 4px 2px;text-transform: uppercase;border-radius: 5px 0 5px 0;background: #ebebeb;font-family: 'Muli', sans-serif;}
.tab_sp.white li{background: #ffffff;}
.tab_sp li.active,.tab_sp li:hover{background: #d90000;color: #ffffff;font-weight: 800;}
/* Slider */
#slider{width: 100%;position: relative;display: none; overflow: hidden;}
/*Hỗ trợ */
.hotro{width: 100%;display: inline-block;border: 1px solid #dddddd;padding: 37px 0 0 0;margin: -37px 0 0 0;}
.hotro .phone img{display: inline-block;}
.hotro .phone span{font-family: UTMAvoBold;color: #fe0000;font-size: 22px;font-weight: 100;text-transform: uppercase;background: url('images/hotline_ht.png') no-repeat top center;position: relative;display: block;padding: 10px 0 10px 60px;margin: 10px 0;}
.hotro .khung{width: 100%;display: inline-block;padding: 0 10px;}
.yahoo{width:100%;border-bottom: 1px dashed #cccccc;display: block;padding: 5px 0;line-height: 30px;}
.yahoo:last-child{border: none;}
.yahoo .hinh{display: flex; flex-wrap: wrap; align-items: center;}
.yahoo .hinh span{font-size: 15px;color: #3853a4;}
.yahoo .thongtin span:nth-child(1){background: url('images/email.png') no-repeat left center;padding: 0 0 0 25px;font-size: 13px;color: #4a4a4a;font-weight: 400;}
.yahoo .thongtin span:nth-child(2){background: url('images/phone.png') no-repeat left center;padding: 0 0 0 25px;font-size: 13px;color: #707070;font-weight: 400;}
/*-----CART-------*/
.cart{color: #ffffff;background: #e1e1e1 url(images/cart.png) no-repeat center;width: 50px;height: 50px;border-radius: 50%;position: relative;}
.cart span{color: #ffffff;position: absolute;right: 11px;top: 5px;font-size: 13px;font-weight: 400;}
.cart_fix{position: fixed;bottom: 230px;right: 15px;background: #e10000 url(images/cart.png) no-repeat center;width: 50px;height: 50px;border-radius: 50%;text-align: center;line-height: 50px;}
.cart_fix span{position: absolute; width: 20px; height: 20px; border-radius: 50%; text-align: center; font-size: 13px; color: #ffffff; background: #000000; line-height: 20px; top: 0; right: 0;}
/* Product detail */
.product_ct{display: flex;flex-wrap: wrap; flex-wrap: wrap;}
.khung_product_detail{width: 100%;display: flex;flex-wrap: wrap;align-items: flex-start;justify-content: space-between;}
.khung_product_detail .daxem{width: 250px;}
.khung_product_detail .daxem h4{font-family: SFUFuturaBook;font-size: 14px;color: #ffffff;text-transform: uppercase;text-align: center;background: #000000;padding: 10px 0;font-weight: 100;}
.khung_product_detail .daxem .bao_sp{display: none;}
.khung_product_detail .daxem .sp{display: inline-flex;align-items: center;justify-content: space-between;width: 100%;}
.khung_product_detail .daxem .sp > a{width: 80px;}
.khung_product_detail .daxem .sp .noidung{width: calc(100% - 90px);font-family: RobotoRegular;font-size: 13px;color: #333333;}
.khung_product_detail .daxem .sp .noidung .giaban{color: #ff0000;}
.khung_product_detail .daxem .sp .noidung .giacu{text-decoration: line-through;}
.khung_product_detail .daxem .sp h3 a{font-family: RobotoRegular;font-size: 13px;color: #333333;overflow: hidden;text-overflow: ellipsis;line-height: 25px;-webkit-line-clamp: 2;max-height: 50px;display: -webkit-box;-webkit-box-orient: vertical;font-weight: 500;}
.slick_daxem{border: 1px solid #dddddd;padding: 5px;border-top: 0;}
.slick_daxem .slick-slide{margin: 5px 0;}

.frame_images{padding: 0;width: 600px;display: flex;justify-content: space-between;flex-wrap: wrap;}
.MagicZoom{width: 100%;text-align: center;background: #ffffff;}
.app-figure{width: 100%;}
.selectors{width: 100%;margin: 5px 0 0 0;}
.list_carousel {width: 100%;position:relative;}
.list_carousel ul {margin: 0;padding: 0;list-style: none;display: block;}
.list_carousel #foo3{margin: 0 -5px;}
.list_carousel .slick-slide{margin: 0 5px;}
.foo3_l{position: absolute;top: 50%;left: -3%;transform: translateY(-50%);z-index: 99;}
.foo3_r{position: absolute;top: 50%;right: -1%;transform: translateY(-50%);z-index: 99;}
.list_carousel li {display: none;}
.list_carousel li img{display: block;}
.list_carousel li a{ text-decoration:none;}
.list_carousel li a h3{ color:#835410; text-align:center; font-weight:500; margin-top:10px; font-size:16px; margin-bottom:10px; text-transform:uppercase;}
.list_carousel.responsive {width: auto; margin-left: 0;}
.pager {width: 320px;text-align: center;}
.pager a {margin: 0 5px;text-decoration: none;}
.pager a.selected {text-decoration: underline;}
.timer {background-color: #999;height: 6px;width: 0px;}
.prev13{ width: 12px; height: 19px; position: absolute; z-index: 10; background: url(images/left_ow.png) no-repeat; top: 50%; left: 0; transform: translate(0,-50%); }
.next13{ width: 12px; height: 19px; position: absolute; z-index: 10; background: url(images/right_ow.png) no-repeat; top: 50%; right:0;transform: translate(0,-50%); }
.caroufredsel_wrapper{width: 100% !important;}
/* Khung thong tin */
#container_product{width: 100%;margin: 20px 0 0 0;}
#container_product .noidung_tab{width: 100%; display: block; margin-bottom: 20px;}
div#container_product #tabs {overflow: hidden;background: #f2f2f2;display: flex;border: 1px solid #ebebeb;border-bottom: 0;position: relative;list-style: none;margin: 0;padding: 0;}
div#container_product #tabs li {text-transform: uppercase;}
div#container_product #tabs li.active {background: #ffffff;border-bottom: none;position: relative;border-top: 2px solid #000000;top: 0px;}
div#container_product #tabs li {padding: 8px 20px;background: #eeeeee;list-style: none;text-align: center;}
div#container_product #tabs li a {color: #000000;font-size: 14px;text-decoration:none;cursor: pointer;font-weight: 700;}
.khung_thongtin{width: calc(100% - 620px);}
.khung_thongtin_ajax{width: 100%;}
.khung_thongtin > a{background: #70eea0;color: #ffffff;padding: 5px 30px;display:inline-block;margin: 10px 0;font-family: RobotoRegular;text-transform: uppercase;cursor: pointer;}
.khung_thongtin .addthis_inline_share_toolbox{width: 100%;}
.khung_thongtin > div{font-weight: 400;font-size: 14px;color: #333333;padding: 10px 0;width: 100%;border-top: 1px dashed #cccccc;position: relative;}
.khung_thongtin > div label{color: #000000;font-weight: 400;}
.khung_thongtin > .size,.khung_thongtin > .color{display: inline-flex; align-items: center; flex-wrap: wrap;}
.khung_thongtin > .size span{display: inline-block;border: 1px solid #f172ac;padding: 2px 8px;margin: 0 0 0 5px;cursor: pointer;color: #f172ac;border-radius: 2px;}
.khung_thongtin > .size span:hover,.khung_thongtin > .size span.active{background: #f172ac;color: #ffffff;}
.khung_thongtin > .color span{margin: 0 0 0 5px;position: relative;cursor: pointer;border: 1px solid #dddddd;padding: 2px;}
.khung_thongtin > .color span img{vertical-align: middle; margin-right: 5px;}
.khung_thongtin > .color span.active{border: 1px solid #f172ac;}
.khung_thongtin > .color span.active:after{content:'';position: absolute;bottom: 0;right: 0;color: #fff;font-size: 13px;border-bottom: 14px solid #EB038D;border-left: 14px solid transparent;width: 0;}
.khung_thongtin div p a{font-family: RobotoRegular; font-size: 14px; color: #006a48;}
.khung_thongtin h1{font-size: 18px;color: #3953a4;font-weight: 900;text-transform: uppercase;padding: 0 0 10px 0;}
.khung_thongtin b{font-weight: 100;margin: 0 10px 0 0;font-family: RobotoRegular;font-weight: 500;}
.khung_thongtin span.giacu{text-decoration: line-through;}
.khung_thongtin span.giaban{color: #ff001c;font-size: 17px;font-weight: 700;}
.khung_thongtin .dathang{background: #d00;color: #fff;padding: 5px 20px;border-radius: 20px;margin: 10px 0;display: inline-block;font-family: 'Roboto', sans-serif;font-weight: 500;font-size: 14px;cursor: pointer;text-transform: uppercase;}
.khung_thongtin .dathang:hover{background: #047c24;}

.plugin a{font-size: 14px; color: #333333; font-weight: 400; margin: 0 20px 0 0;}
.plugin a:hover{color: #f03495;}

.dky-phone form{display: flex;flex-wrap: wrap;margin-top: 10px;}
.dky-phone input[type=tel]{padding: 5px 10px;font-family: Open Sans,sans-serif;font-size: 14px;color: #333333;font-weight: 400;width: 300px;max-width: 100%;}
.dky-phone input[type=submit]{padding: 0 20px;background: #000000;color: #ffffff;border: none;margin: 0 0 0 10px;cursor: pointer;}
.dky-phone input[type=submit]:hover{background: #f03495;}

#social-air-sp{display: inline-flex;}
#social-air-sp img{display: inline-block !important;}
.zalo-share-button{position: relative;width: 30px !important;height: 30px !important;margin: 0 0 0 5px;}
.zalo-share-button img{width: 30px !important;}

/* buy product detail */
.input-number{padding: 8px 8px;border: 1px solid #c9c9c9;width: 50px;margin: 0 0 0 7px;}
.add_to_cart{width: 100%;margin: 0 0 10px 0;}
.add_to_cart a{display: inline-block;font-family: 'Roboto', sans-serif;font-size: 13px;color: #ffffff;border-radius: 3px;cursor: pointer;font-weight: 500;}
.add_to_cart a.buy{background: #326e52 url(images/icon_add_cart_white.svg) no-repeat 10px center;background-size: 30px;padding: 8px 10px 8px 40px;}
.add_to_cart a.muangay{background: #ff6600 url(images/icon_buy_now.svg) no-repeat 10px center;background-size: 20px;padding: 8px 10px 8px 40px;}
/* Share gia soc */
#giasoc{padding: 10px;border-radius: 5px;background: #eaaf2d;overflow: unset;display: none;text-align: center;}
#giasoc .buy_giasoc{background: #ffffff url('images/hot.gif') no-repeat 10px center;padding: 10px 10px 10px 80px;color: #000000;font-family: 'Roboto', sans-serif;font-weight: 400;border-radius: 5px;cursor: pointer;margin: 0 0 10px 0;cursor: pointer;}
#giasoc .buy_giathuong{background: #000000;color: #ffffff;display: table;margin: 0 auto;padding: 8px 30px;font-family: 'Roboto', sans-serif;cursor: pointer;font-weight: 500;}
#giasoc .buy_giathuong:hover{background: #ff0000;color: #ffffff;}
#giasoc .fancybox-close-small{background: #ffffff;border-radius: 50%;width: 30px;height: 30px;right: 0;top: -15px;right: -15px;}
#giasoc .fancybox-close-small:after{width: 20px;height: 20px;top: 1px;}
/* Video */
.video_bot{width: 400px;}
#video{padding: 30px 0;}
.slick_video {display: none;margin: 0px -10px;}
.slick_video .slick-slide{transform: scale(0.8);margin: 0px -5px;}
.slick_video .slick-slide .video h3 a{font-size: 14px; color: #5f5f5f;}
.slick_video .slick-slide.slick-center {transform: scale(1);}
.video{text-align: center;}
.video > a{display: block; position: relative;}
.video > a:after{position: absolute;content: '';width: 159px;height: 159px;background: url(images/play.png) no-repeat center;left: 50%;top: 50%;transform: translate(-50%,-50%);}
.video img{border-radius: 20px;width: 100%;height: 375px;}
.video h3{margin-top: 10px;}
.slick_video .slick-slide.slick-center .video h3 a{font-size: 20px; color: #111111; font-weight: 700;}
/* Search */
.language{margin-bottom: 2px;}
.frm_timkiem{position: relative;width: 100%;}
.frm_timkiem input{color: #333333;background: #dddfe2;padding: 12px 10px;width: 0;opacity: 0;transition: opacity 0.5s, width 0.5s;outline: none;border: none;text-indent: 10px;border-radius: 25px;right: -45px;position: absolute;top: -32px;font-family: 'Montserrat', sans-serif;font-weight: 400;font-size: 12px;z-index: 1;}
.frm_timkiem input.show{width: 250px;opacity: 1;}
.frm_timkiem button{cursor:pointer;outline:none;border:  none;display: inline-block;background: #3952a4 url(images/truongvu/search.png) no-repeat center;position: absolute;padding: 15px;left: 60px;top: -28px;border-radius: 20px;z-index: 1;}
.frm_timkiem input::-webkit-input-placeholder {color: ##dddfe2;}
.frm_timkiem input:-moz-placeholder {color: ##dddfe2;}
.frm_timkiem input::-moz-placeholder { color: ##dddfe2;}
.frm_timkiem input:-ms-input-placeholder {  color: ##dddfe2;  }
/* Menu left */
#menu_left {width: 270px;position: relative;background: #707070;}
#menu_left h4{width: 100%;line-height: 45px;cursor: pointer;font-weight: 400;text-transform: uppercase;background: #f03495 url('images/danhmuc.png') no-repeat 20px center;position: relative;text-align: center;}
#menu_left h4 a{color: #ffffff;font-size: 15px;}
#menu_left .left{position: absolute;top: 100%;left: 0;z-index: 2;width: 100%;background: #ebebeb;display: none;}
.menu_left{width:100%;position: relative;}
.danhmuc{width: 100%;display: inline-block;margin: 0 0 20px 0;}
.danhmuc:last-child{margin: 0;}
.danhmuc ul{list-style: none;}
.danhmuc h4{width: 100%;color: #ffffff;text-transform: uppercase;font-size: 18px;cursor: pointer;font-weight: 900;position: relative;line-height: 40px;border-bottom: 1px solid #333333;text-align: center;background: #707070;}
.menu_left ul::-webkit-scrollbar{ width: 5px; background-color: #F5F5F5;}
.menu_left ul::-webkit-scrollbar { width: 5px; height: 5px;}
.menu_left ul::-webkit-scrollbar-button {  width: 0px; height: 0px; }
.menu_left ul::-webkit-scrollbar-track {  background-color: #c3c3c3;}
.menu_left ul::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.menu_left ul::-webkit-scrollbar-thumb { height: 50px; background-color: #c3c3c3; border-radius: 3px;}
.menu_left ul::-webkit-scrollbar-corner { background-color: #ffffff;}}
.menu_left ul::-webkit-resizer { background-color: #666;}
.menu_left ul{list-style: none; padding: 0;}
.menu_left > ul{list-style-type:none;width:  100%;max-height: 480px;overflow: auto;border-top: 0;padding: 0;}
.menu_left > ul > li:last-child{border-bottom: 0;}
.menu_left ul li a{color: #000000;font-size: 16px;font-weight: 400;position: relative;display: block;padding: 10px 20px;border-bottom: 1px solid #f5f5f5;border-top: 1px solid #e1e1e1;}
.menu_left ul li:hover > a{background-color: #f03495;color: #ffffff;}
.menu_left ul li{width:100%;display: block;}
.menu_left ul li:first-child a{border-top: 0;}
.menu_left ul li:last-child a{border-bottom: 0;}
.menu_left > ul > li > ul{border-left: 0;}
.menu_left ul li > ul{position: absolute;width: 100%;height: auto;left: calc(100% + 1px);/* transition: 0.5s all; */display: none;background: #ebebeb;}
.menu_left ul li > ul > li > ul{left: 100%;}
.menu_left ul li:hover > ul{display: block;}
/* .fixed .left, .detail .left{ display: none; transition: 2s;} */
#menu_left:hover .left, .detail:hover .left{ display: block;}
/* Menu danh mục left */
.isfixed {position: -webkit-sticky !important;position: sticky !important;top: 61px;}
.danhmuc_l{width: 100%;background: #f9f9f9;overflow: auto;padding: 0 10px;border: 1px solid #e6e6e6;}
.danhmuc_l::-webkit-scrollbar{ width: 5px; background-color: #F5F5F5;}
.danhmuc_l::-webkit-scrollbar { width: 5px; height: 5px;}
.danhmuc_l::-webkit-scrollbar-button {  width: 0px; height: 0px; }
.danhmuc_l::-webkit-scrollbar-track {  background-color: #c3c3c3;}
.danhmuc_l::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.danhmuc_l::-webkit-scrollbar-thumb { height: 50px; background-color: #c3c3c3; border-radius: 3px;}
.danhmuc_l::-webkit-scrollbar-corner { background-color: #ffffff;}}
.danhmuc_l::-webkit-resizer { background-color: #666;}
.danhmuc_l li a{font-size: 13px;font-weight: 500;color: #404040;width: 100%;display: inline-block;padding: 10px 0;border-bottom: 1px dotted #dbdbdb;}
.danhmuc_l > li > a{text-transform: uppercase;}
.danhmuc_l li {position: relative;}
.danhmuc_l li:last-child {border-bottom: 0;}
.danhmuc_l li.active > a, .danhmuc_l li:hover > a, .danhmuc_l li:hover > a:after{color: #ffa200;}
.danhmuc_l li > i{position: absolute;right: 0;top: 10px;background: #ffffff;color: #000000;border-radius: 50%;width: 20px;height: 20px;text-align:center;line-height: 20px;transition: 0.5s all;font-size: 20px;}
.danhmuc_l li > ul{margin: 0;padding: 0;list-style: none;}
.danhmuc_l li > ul li a{font-weight: 400;text-indent: 10px;}
.danhmuc_l li > ul li{border-bottom: 0;}
/* HTTT */
.hotro_right {position: fixed;top: 20%;left: -300px;z-index: 100;width: 345px;display: flex;flex-wrap: wrap;transition: 0.5s all;}
.hotro_right.active{left: 0;}
.hotro_right #img {display: inline-block;position: relative;width: 45px;cursor: pointer;}
.hotro_right div.hotline_r { bottom: 0px;padding: 0px 10px;background-color: #ffde00; color: #d00000;font-size: 17px;font-weight: bold;width: 100%;text-align: center;}
.hotro_right .noidung_20 { display: none;width: 100%; background-color: #FFF;border-left: 1px solid #d00000;border-top: 1px solid #d00000;padding: 5px;}
.hotro_tt img{ display: block; }
.hotro_bt{width: calc(100% - 45px);display: inline-block;padding: 10px;background: #ffffff;border: 1px solid #dddddd;}
.hotro_bt p b{color: #444444;font-size: 13px;font-family: RobotoRegular;font-weight: 100;display: inline-block;}
.hotline_bt{width: 100%;background: url(images/hotline.png) no-repeat;text-indent: 70px;margin-bottom: 10px;}
.hotline_bt p{font-size: 27px;font-family: RobotoRegular;color: #d50000;}
.yahoo_top{ text-align: center; margin:5px 0px 0px 0px; }
.yahoo p.hinh a{display: inline-block;margin: 0 10px 0 0;}
.yahoo p.hinh a img{width: 30px;}
.yahoo .dienthoai{color: #333;}
.yahoo .email{  color: #333; padding: 2px 0px 2px 40px; background: url(images/email.png) no-repeat 10px 7px;}
.yahoo p b{color: #ff0000;font-family: RobotoRegular;font-weight: 100;}
.visit_hidden{visibility: hidden;height: 0;}
.tinkhac{width: 100%;margin: 0;}
.tinkhac ul{margin: 0;padding: 0;}
.tinkhac ul li{width: 100%;/* line-height: 30px; */list-style: none;display: inline-flex;align-items: baseline;}
.tinkhac li a{color: #333;font-size: 14px;font-weight: 400;text-indent: 10px;display: inline-block;}
.tinkhac li a img:hover{ opacity: 0.5;}
.tinkhac li a i{ margin-right: 20px; }
.tinkhac li a:hover{color: #2a9256;}
.xemnhieu{width:193px; border:1px solid #FF8A00;background:url(images/left_cham.png) repeat-y;}
ul.pagination {text-align:center;color:#829994;}
ul.pagination li {display:inline; padding:0 3px;}
ul.pagination a {color:#fff;display:inline-block;padding:5px 10px;border:1px solid #cde0dc;text-decoration:none;background: #333333;font-size: 12px;}
ul.pagination a:hover, 
ul.pagination a.current {background:#0d7963;color:#fff; }
.page_info{ display: none !important; }
/* ========== Content pagination ========== */
.paging{ width: 100%;  text-align: center; margin: 10px 0px 0px 0px; }
.paging .pagination {margin: auto;float:  unset;width: auto !important;text-align: center;margin: 10px 0 20px 0;}
.pages li.prev {margin-right: 15px;}
.pages li.next {margin-left: 15px;}
.pages li {display: inline-block;margin: 5px 2px;}
.pages li a {height: 25px;padding: 4px 8px;text-decoration: none;color: #666666;font-weight: bold;background: url(../images/backgrounds/pagingBg.png) repeat-x 0 0;border: 1px solid #d5d5d5;font-size: 11px;}
.pages li a:hover {background: #f6f6f6;}
.pages li .active {background: url(../images/backgrounds/sideGradient.png) repeat-x;color: #fff;border-color: #424852;}
.pages li .active:hover {background: #2a313d;}
/* Thong ke */
.thongke{width: 180px;}
.thongke ul{background: url('images/thongke.png') no-repeat left center;padding: 0;font-weight: 400;color: #ffffff;line-height: 35px;}
.thongke li{display: flex;flex-wrap: wrap;justify-content: space-between;padding: 0 0 0 30px;font-size: 13px;color: #ffffff;font-family: UTMAvo;}
.thongke li:last-child{border-bottom: 0;}
/* Thanh title */
.thanh_title{width: 100%;position: relative;margin: 0 0 30px 0;background: url(images/title.png) no-repeat left bottom;padding: 0 0 15px 0;} 
.thanh_title h2,.thanh_title h4{font-size: 21px;font-weight: 100;display: inline-block;color: #222222;font-family: SVNAvoBold;text-transform: uppercase;}
.thanh_title p{font-size: 16px;color: #555555;font-weight: 400;}
.thanh_title.white h2,.thanh_title.white h4,.thanh_title.white p{color: #ffffff;}
.thanh_title.white:after{background: #ffffff;}
/* Gioi thieu */
#gioithieu{width: 100%;position: relative;padding: 40px 0 70px 0;}
.title_gt{position: relative;display: inline-block;border-top: 2px solid #3952a4;margin: 10px 0px;width: 100%;background: #ebedf0;}
.load_paging{position: relative;}
.load_paging:after{position: absolute;content: "";border-top: 2px solid #3952a4;}
.title_gt h2{padding: 8px 50px;font-size: 18px;color: #ffffff;position: relative;font-weight: 700;display: inline-block;text-transform: uppercase;font-family: 'Roboto', sans-serif;}
.title_gt h2:before{position: absolute;content: "";background: url(images/truongvu/af.png) no-repeat right;width: 100%;height: 100%;top: 0px;right: -19px;}
.title_gt h2 .icon{padding-right: 15px;}
.title_gt p{font-size: 17px;color: #222222;position: relative;font-weight: 600;text-transform: uppercase;}
/*.title_gt:after{position: absolute;content: '';padding: 4px;background: #ffffff;border-radius: 50%;border: 3px solid #f03495;right: 0;bottom: -6px;}*/
#gioithieu .gioithieu{width: 100%;display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;}
#gioithieu .gioithieu .img_gt{width: 545px;}
#gioithieu .gioithieu .img_gt .img{display: inline-block;border: 5px solid #ffffff;box-shadow: 30px 30px #f03495;}
#gioithieu .gioithieu .img_gt .img iframe{display: block;}
.noidung_gt{display: flex; justify-content: space-around; align-items: center ;position: relative;}
/*.noidung_gt:after{position: absolute;content: '';padding: 4px;background: #ffffff;border-radius: 50%;border: 3px solid #f03495;left: 300px;bottom: 14px;}
.noidung_gt:before{position: absolute;content: '';width: 300px;height: 1px;background: #ffffff;bottom: 20px;left: 0;background: #ffffff;}*/
.noidung_gt .mota_gt{width: 100%;margin: 20px 0;}
.noidung_gt .mota{width: 100%;}
.vechungtoi{display: flex;justify-content: space-between;padding: 15px 0px;}
.vechungtoi .noidung{width: calc(100% - 108px);}
.img_gt .bao_all{padding: 20px 0px;display: flex;justify-content: space-between;align-items: center;}
.img_gt .bao_all .bao_nd{width: 45%;}
.vechungtoi .noidung:hover h3{color: #2a9256;transition: 0.5s all;} 
.vechungtoi .noidung h3{font-family: 'Noto Serif', serif;font-size: 17px;text-transform: uppercase;color: #202020;}
.vechungtoi .noidung .mota p{font-family: 'Roboto', sans-serif;font-size: 14px;color: #333;overflow: hidden;max-height: 100px;-webkit-line-clamp: 3;display: -webkit-box;-webkit-box-orient: vertical;width: 90%;}
.noidung_gt .mota p{font-family: 'Roboto', sans-serif;font-size: 14px; color: #727272;overflow: hidden; max-height: 100px;-webkit-line-clamp: 3;display: -webkit-box; -webkit-box-orient: vertical;}
.slick_img{position: relative; display: none;}
.slick_img .slick-slide {  transition: transform .4s;  position: relative;}
.slick_img .slick-slide {  transform: scale(0.6)  translate(900px);}
.slick_img .slick-slide.slick-center + .slick-slide {  transform: scale(0.8) translate(-450px);  z-index: 10;}
.slick_img .slick-slide.slick-center + .slick-slide + .slick-slide {  transform: scale(0.6)  translate(-900px);  z-index: 5;}
.slick_img .slick-slide.slick-active {  transform: scale(0.8) translate(450px);}
.slick_img .slick-slide.slick-center {  /* margin: 0 -10%; */  transform: scale(1);  z-index: 30;}
.slick_img a{display: block; border: 5px solid #ffffff;}
/*Tin tức*/
.box_news{width: 100%;display: grid;grid-template-columns: 1fr 1fr;grid-gap: 20px;}
.box_news .news{display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;background: #f5f5f5f5;}
.box_news .news .img a{display: table;margin: 0 auto;}
.box_news .news .noidung{width: calc(100% - 200px);}
.box_news .news:hover h3 a{color: #3952a4;}
.box_news .news h3 a{font-size: 15px;color: #000000;font-weight: 700;overflow: hidden;text-overflow: ellipsis;line-height: 25px;-webkit-line-clamp: 2;max-height: 50px;display: -webkit-box;-webkit-box-orient: vertical;text-transform: uppercase;}
.box_news .news .mota{font-size: 14px;color: #333333;font-weight: 400;overflow: hidden;text-overflow: ellipsis;line-height: 25px;-webkit-line-clamp: 5;max-height: 125px;display: -webkit-box;-webkit-box-orient: vertical;margin: 10px 0;}
.box_news .news .ngaydang{font-weight: 400;font-size: 12px;color: #a7a0a0;font-style: italic;}
/*Quảng cáo*/
#quangcao{padding: 0;}
.slick_qc{display: none;0}
/*Điều hướng*/
.dieuhuong{width: 100%;padding: 0 0 10px 0;position:  relative;border-bottom: 1px dashed #dddddd;margin-bottom: 15px;}
.dieuhuong a{color: #000000;font-size: 15px;font-weight: 400;padding:0px 10px;position:  relative;}
.dieuhuong a:first-child{padding: 0 10px 0 0;}
.dieuhuong a:first-child i{margin-right: 5px;font-size: 16px;color: #191919;font-weight: 100;}
.dieuhuong a:before{/* font-family: FontAwesome; */position: absolute;content: '/';right: -5px;top: 0;}
.dieuhuong a:last-child,.dieuhuong a:hover{color: #3952a4;}
.dieuhuong a:last-child:before{display: none;}
.noidung_tt{width: calc(100% - 380px);}
.noidung_tt .hinhanh{margin-bottom: 20px;}
/*Tab*/
.khung_tab{ width: 100%;  display: none; }
.khung_tab.active{ display: block; }
.tags_sp a{display: inline-block;font-family: RobotoRegular;font-size: 14px;color: #333333;padding: 5px 10px;border: 1px solid #dddddd;margin: 0 0 5px 0;}
.tags_sp a:hover{color: #ed1c24; border-color: #ed1c24;}
/* sp noi bat  */
#sanpham{width: 100%;position: relative;display: block;}
#sanpham .khung .title_gt .button{cursor: pointer;position: absolute;right: 8px;top: 7px;}
#sanpham .xemtatca{display: table;margin: 0 auto;margin-top: 30px;font-size: 14px;color: #373737;font-weight: 400;text-transform: uppercase;padding: 10px 40px;border-radius: 20px;box-shadow: 0px 3px 6px 0px #e2e2e2;}
#sanpham .xemtatca:hover{background: #ed1c24; color: #ffffff;}
.owl_sp{display: none;margin: 0 -23px;width: 100%;}
.owl_sp .slick-slide{margin: 0 23px;}
/* product */
#popup_cart{width: 700px;max-width: 90%;}
.spkhac{margin: 0 -13.5px;display: none;}
.spkhac .slick-slide{margin: 0 13.5px;}
.product_detail .sanpham{width: 100%;display:  grid;grid-template-columns: 1fr 1fr 1fr;grid-gap: 20px;}
.sanpham{width: 100%;display:  grid;grid-template-columns: 1fr 1fr 1fr 1fr;grid-gap: 40px;}
/*.khung{width: 100%;padding: 30px 0;}*/
.khung:nth-child(even){background: #f5f5f5;}
.item .img_bd{padding: 0px 26px 0px 0px;}
.item .img{position: relative;-webkit-backface-visibility:a hidden;-moz-backface-visibility: hidden;-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);overflow: hidden;}
.item .img .icon{position: absolute;top: 0px;right: 0;}
.item .img .icon img{display: inline-block !important;margin: 0 0 0 5px;}
.item .img:before {opacity: 0;position: absolute;top: 0;left: -75%;z-index: 22;display: block;content: '';width: 50%;height: 100%;background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 100%);background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 100%);-webkit-transform: skewX(-25deg);transform: skewX(-25deg);}
.item:hover .img:before {opacity: 1;-webkit-animation: shine .6s;animation: shine .6s;}
@-webkit-keyframes shine 
{ 
100% {left: 125%;}
}@keyframes shine 
    { 
100%  {left: 125%;}
    }
.item .img .sale{position: absolute;top: 0;right: 0;background: #d90000;color: #ffffff;font-weight: 600;font-size: 14px;padding: 2px 10px;}
.item .img_bd img{display: block;border: 1px solid #dddddd;}
.item .img .view_cart{position: absolute;right: 10px;bottom: 10px;cursor: pointer;}
.blink_me img{border: none !important;}
.blink_me{position: absolute;top: 0;right: 8%;}
.blink_me p{background: red;color: #fff;padding: 0px 15px;font-size: 12px;margin-right: 2px;font-family: 'Roboto', sans-serif;}
@-moz-keyframes blinker {  0% { opacity: 1.0; }50% { opacity: 0.0; }100% { opacity: 1.0; }}
@-webkit-keyframes blinker {  0% { opacity: 1.0; }50% { opacity: 0.0; }100% { opacity: 1.0; }}
@keyframes blinker {0% { opacity: 1.0; }50% { opacity: 0.0; }100% { opacity: 1.0; }}
.item {transition: 0.5s all;position: relative;transition: border 1s;}
.item .gia{font-family: 'Roboto', sans-serif;width: 100%;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;color: #141414;font-weight: 400;font-size: 16px;}
.item .giacu{text-decoration: line-through;color: #8a8a8a;margin: 0 0 0 10px;font-weight: 400;font-size: 14px;}
.item .giaban{color: #f00;font-weight: 700;}
.item .giaban span{ color: #F10404 }
.item .noidung{position: relative;text-align: center;}
.item .noidung .buy{position: absolute;background: url(images/buy.png) no-repeat center;color: #ffffff;text-transform: uppercase;line-height: 35px;padding: 0 10px;cursor: pointer;width: 36px;height: 36px;right: 0;bottom: 0;}
.item h3{width: 100%;margin: 10px 0 5px 0;position: relative;}
.item:hover h3 a{color: #3952a4;}
.item h3 a{font-family: 'Roboto', sans-serif;color: #222222;font-weight: 700;font-size: 15px;overflow: hidden;padding: 0px 20px;text-overflow: ellipsis;line-height: 20px;-webkit-line-clamp: 2;max-height: 43px;display: -webkit-box;-webkit-box-orient: vertical;}
.item .mota{margin-bottom: 10px;overflow: hidden;text-overflow: ellipsis;line-height: 25px;-webkit-line-clamp: 2;max-height: 50px;display: -webkit-box;-webkit-box-orient: vertical;}
.item a.xemthem{font-weight: 400; font-size: 15px; color: #e60000;}
/* Tab product */
.tab_show{display: block !important;border: 1px solid #ebebeb;border-top: 0;padding: 10px;width:  100%;background: #ffffff;position: relative;z-index: 1;}
.tab_hidden{ display: none; }
.noidung_ta *{max-width: 100%;}
/* Nhận tin */
#nhantin{position: relative;width: 100%;}
.nhantin .tieude_nhantin{font-family: 'Roboto', sans-serif;font-size: 18px;font-weight: 400;color: #262626;width: 335px;position: relative;padding-left: 64px;}
.nhantin .tieude_nhantin:after{position: absolute;content: "";background: url(images/truongvu/nhantin.png) no-repeat;width: 58px;height: 58px;top: 0;left: 0;}
.nhantin .tieude_nhantin p{font-family: 'Roboto', sans-serif;font-size: 13px;font-weight: 400;color: #262626;}
.title_nt{width: 320px;background: url(images/send.png) no-repeat left center;padding: 0 0 0 70px;}
.title_nt h4{font-size: 17px; color: #ffffff; font-weight: 900;}
.title_nt p{font-size: 13px; color: #ffffff; font-weight: 400;}
.nhantin{padding: 30px 0px;display: flex;justify-content: space-between;align-items: center;}
.lh{position: relative;width: 450px;}
.lh p{font-size: 13px;color: #000000;font-weight: 400;margin-bottom: 10px;}
.lh form{position: relative;display: flex;flex-wrap: wrap;justify-content: space-between;}
.lh form textarea.input{margin: 0;}
.lh form .input{outline: none;font-size: 14px;width: 100%;margin: 0 0 10px 0;padding: 15px;font-weight: 400;border: none;background: #F5f5f5;font-family: 'Roboto', sans-serif;}
.lh form input[type=submit],.lh form input[type=reset]{border: none;outline: none;cursor: pointer;color: #ffffff;font-size: 17px;font-weight: 700;background: #bc0000;padding: 13.5px 15px;font-family: 'Roboto', sans-serif;position: absolute;bottom: 10px;right: 0;}
.nt_ft{display: flex;justify-content: space-between;align-items: center;}
.nt_ft .tieude_nhantin{width: 190px;}
.nt_ft .tieude_nhantin h4{text-transform: uppercase;position: relative;color: #fff;font-family: 'Roboto', sans-serif;font-size: 16px;text-align: start;margin-bottom: 10px;}
.lh form .input::-webkit-input-placeholder,.lh form textarea::-webkit-input-placeholder {color: gray;}
.lh form .input:-moz-placeholder,.lh form textarea:-moz-placeholder {color: gray;  }
.lh form .input::-moz-placeholder,.lh form textarea::-moz-placeholder {  color: gray; }
.lh form .input:-ms-input-placeholder,.lh form textarea:-ms-input-placeholder {  color: gray;  }
/* Footer */
footer{padding: 0;}
#footer{width:100%;position: relative;overflow: hidden;}
.bando{width: 683px;}
.footer{display: flex;flex-wrap: wrap;justify-content: space-between;}
.footer .thongtin_ct{color: #ffffff;width: 683px;padding: 40px;}
.footer .nhantin{width: 300px;}
.bocongthuong{display: inline-block;margin-top: 10px;}
.thongtin_ct .noidung{padding-bottom: 20px;}
.tieude_f{position: relative;color: #fefefe;font-size: 17px;font-weight: 500;width: 100%;display: inline-block;font-family: 'Roboto', sans-serif;position: relative;text-transform: uppercase;padding: 0 0 10px 0;}
.tieude_cty{position: relative;color: #fefefe;font-size: 17px;font-weight: 500;width: 100%;display: inline-block;font-family: 'Roboto', sans-serif;position: relative;text-transform: uppercase;padding: 0 0 10px 0;}
.tieude_cty:after{position: absolute;width: 55px;height: 2px;bottom: 5px;left: 3px;border-bottom: 2px solid #fff;content: "";}
/* Chinh sach */
.chinhsach{
    width: 350px;
}
.chinhsach ul{width: 100%;margin: 0;color: #ffffff;line-height: 25px;list-style: none;padding: 0;display: flex;justify-content: space-between;}
.chinhsach ul li{font-weight: 400;position: relative;width: 50%;}
.chinhsach ul li a{font-size: 14px;color: #ffffff;font-weight: 400;}
.chinhsach ul li:hover a{text-decoration: underline;} 
/* coppy */
.coppy{font-weight: 400;font-size: 13px;color: #fff;position: relative;padding: 20px 40px;background: #2c438e;text-align: center;}
.coppy span{text-transform: uppercase;}
.coppy ul{list-style: none; padding: 0; }
.coppy ul li{display: inline-block;}
/* back to top  */
#back-to-top {position: fixed;bottom: 55px;right: 12px;text-align: center;line-height: 55px;width: 55px;height: 55px;cursor: pointer;z-index: 2;background: #3952a4;border-radius: 50%;}
#back-to-top a {display: block;color: #ffffff;font-size: 30px;}
#back-to-top .back-circle {height: 50px;width: 50px; }
#back-to-top .back-circle .circle {border: 1px solid #034790 !important;}
/* Bottom */
#bottom{background: #f5f5f5;}
.bottom{width:100%;display: flex;justify-content: space-between;flex-wrap: wrap;padding: 40px 0px;}
.bottom .tintuc{width: 762px;}
.bottom .tintuc .khung{padding: 10px 0px;height: 125.7px;}
.title_b {width: 100%;position: relative;margin: 0 0 30px 0;}
.title_b h4{font-family: UTMAlbertaHeavy;color: #017abf;font-size: 26px;cursor: pointer;font-weight: 500;position: relative;line-height: 1;text-transform: uppercase;background: url(images/title_bot.png) no-repeat left  bottom;padding:  0 0 15px 0;}
.bottom .tintuc h3 a{font-size: 15px;color: #1b1b1b;overflow: hidden;text-overflow: ellipsis;line-height: 25px;-webkit-line-clamp: 2;max-height: 50px;display: -webkit-box;-webkit-box-orient: verticall;font-weight: 700;font-family: 'Roboto', sans-serif;}
.bottom .tintuc .tintuc_l:hover h3 a{color: #3952a4;}
.bottom .tintuc .tintuc_l p{font-family: 'Roboto', sans-serif;font-size: 13px;color: #333;overflow: hidden;text-overflow: ellipsis;line-height: 25px;-webkit-line-clamp: 2;max-height: 75px;display: -webkit-box;-webkit-box-orient: vertical;font-weight: 400;text-align: justify;margin: 5px 0 0 0;}
.bottom .tintuc .tintuc_r{ width: 49%;}
.bottom .tintuc .tintuc_l{ width: 366px}
.bottom .tintuc .tintuc_l .noidung .noidung_nd{padding: 10px 0px 5px 0px;}
.bottom .tintuc .noidung  span{font-family: 'Roboto', sans-serif;font-size: 13px;color: #c9c9c9;position: relative;}
.bottom .tintuc .noidung  strong{font-family: 'Roboto', sans-serif;font-size: 13px;color: #2a9256;position: relative;padding: 0 0 0 15px;}
.bottom .tintuc .noidung  strong:before{position: absolute;content: "";width: 10px;height: 12px;border-left: 1px solid #999;top: 2px;left: 7px;}
.bottom .tintuc .tintuc_r .slick-slide > div{display: flex;}
.xemthem{padding-top: 15px;}
.xemthem a:hover{background: #3952a4;transition: 0.5s all;}
.xemthem a{position: relative;color: #fff;padding: 12px 25px 12px 35px;background: #bc0000;text-decoration: none;font-family: 'Roboto', sans-serif;font-size: 13px;font-weight: 300;}
.xemthem a:after{position: absolute;content: "";background: url(images/truongvu/xemthem.png) no-repeat;width: 10px;height: 10px;left: 15px;top: 16px;}
.bottom .tintuc .tintuc_r .tintucr_it{position: relative;display: flex;flex-wrap: wrap;justify-content: space-between;}
.bottom .tintuc .tintuc_r .tintucr_it .ngaydang{width: 60px;height: 60px;text-align: center;font-family: Roboto;font-size: 12px;color: #ffffff;background: #a90202;border-radius: 50%;line-height: 18px;padding: 12px 0;}
.bottom .tintuc .tintuc_r .tintucr_it .ngaydang span{display: block;font-size: 19px;}
.bottom .tintuc .tintuc_r .tintucr_it .img{display: block;position: relative;}
.bottom .tintuc .tintuc_r .tintucr_it .img span{position: absolute;top: 0;right: 0;text-align: center;background: #c00000;padding: 10px 2px;color: #ffffff;font-family: Open Sans, sans-serif;font-size: 15px;font-weight: 400;}
.bottom .tintuc .tintuc_r .tintucr_it .img span strong{display: block;font-weight: 600;position: relative;}
.bottom .tintuc .tintuc_r .tintucr_it .img span strong:after{position: absolute;content: '';width: 20px;height: 1px;background: #f0d5d5;bottom: 0;left: 50%;transform: translateX(-50%);}
.bottom .tintuc .tintuc_r .noidung{position: relative;width: calc(100% - 170px);}
.bottom .tintuc .tintuc_r .noidung.noidung_le{text-align: right;}
.bottom .tintuc .tintuc_r .noidung p.ngaydang span{font-family: OpenSansRegular;font-size: 14px;color: #919191;margin: 5px 0;background: url('images/calender.png') no-repeat left center;padding: 0 0 0 20px;font-style: italic;}
.bottom .tintuc .tintuc_r .noidung:hover h3 a{color: #3952a4;}
.bottom .tintuc .tintuc_r .noidung .mota{font-family: 'Roboto', sans-serif;font-size: 14px;color: #393939;overflow: hidden;text-overflow: ellipsis;line-height: 23px;-webkit-line-clamp: 3;max-height: 100;display: -webkit-box;-webkit-box-orient: vertical;font-weight: 400;text-align: justify;}
.bottom .tintuc .tintuc_r .noidung a.xemthem{font-family: SVNAvo;font-size: 15px;color: #3ab60a;display: inline-block;border-radius: 20px;}
.bottom .tintuc .tintuc_r .noidung:hover a.xemthem{color: #e00b13;}
.bottom .video .iframe iframe{display: block;}
.bottom .tintuc .bao_tt{display: flex;justify-content: space-between;}
.bottom .tintucr_it{}
.bottom .title_bt h2{position: relative;font-family: UTMAvoBold;font-size: 24px;color: #333333;padding: 15px 0px;text-transform: uppercase;}
.bottom .title_bt h2:before{position: absolute;border-bottom: 2px solid #FF0000;width: 60px;height: 10px;bottom: 8px;left: 0px;}
/* Mang XH*/
.mxh{margin-bottom: 40px;width: 335px;}
.mang_xh label{font-family: 'Roboto', sans-serif;font-weight: 400;font-size: 14px;color: #333;}
.mxh h3{font-family: 'Roboto', sans-serif;font-weight: 700;text-transform: uppercase;font-size: 16px; color: #fff;}
.mang_xh {position:  relative;font-size: 14px;color: #ffffff;display: inline-flex;flex-wrap: wrap;align-items: center;}
.mang_xh h4{font-size: 18px;color: #54a200;font-weight: 700;margin: 0 0 20px 0;text-transform: uppercase;}
.mang_xh a{padding: 0px 0px 0 10px;display: inline-block;}
.mang_xh a img{vertical-align: middle; display: block;}
.mang_xh a:hover img{transform: rotate(360deg);-moz-transform: rotate(360deg);-webkit-transform: rotate(360deg);-o-transform: rotate(360deg); transition: all 1s;}

/*--------------Liên kết website---------------------*/
.lienket{width: 170px;color: #ffffff;font-size: 14px;}
.lienket label{text-transform: uppercase;font-size: 15px;font-family: 'Roboto', sans-serif;font-weight: 700;}
.lienket a{margin: 0 0 0 5px;}
.lienket a:hover img{transform: rotate(360deg);-moz-transform: rotate(360deg);-webkit-transform: rotate(360deg);-o-transform: rotate(360deg); transition: all 1s;}

.lienket_r{position: fixed;right: 10px;bottom: 250px;}
.lienket_r a{display: block;margin: 10px 0;}
/* contact */
.khung_contact{width: 100%;display: flex;justify-content: space-between;flex-wrap: wrap;margin: 0 0 20px 0;}
.khung_contact .noidung_detail{margin-bottom: 20px;}
.khung_contact .bando{width: 100%;margin-top: 20px;}
.khung_trai,.khung_phai{width: 48%;}
.thongtin_ct2{display: flex;justify-content: space-between;padding-top: 20px;border-top: 1px solid #4267b2ba;}
.thongtin_lh{ width: 100%;  padding: 0px 40px 20px 0px;}
.thongtin_lh h1{ font-size: 20px; text-transform:uppercase; color: #04608B}
.form_lh{max-width: 100%;width: 100%;margin: 0 auto;text-align: center;}
.form_lh h4{font-weight: 700;font-size: 30px;color: #3952a4;margin: 0;text-align: center;text-transform: uppercase;}
.form_lh p.mxn{width: 100%; }
.form_lh p.mxn > b{padding: 0px 20px 0px 0px;font-family: RobotoRegular;}
.form_lh p.mxn input{width: 100px; }
.form_lh p{padding: 5px 0px 5px 0px;margin: 0;width: 100%;display: inline-block;}
.form_lh p input,.form_lh p textarea{padding: 10px;width: 100%;border: 1px solid #dddddd;font-weight: 400;border-radius: unset;font-family: Open Sans,sans-serif;}
.form_lh p label{ width: 120px; }
.form_lh p button{border: 0px;background: #3952a4;padding: 10px 20px;margin: 0;color: #fff;cursor: pointer;font-family: 'Roboto', sans-serif;text-transform:  uppercase;font-weight: 500;}
.form_lh p button:hover{background: #000000;}
.form_van input{ width: 100% ; padding: 5px;}
.form_van button{ position: absolute; z-index: 1000; top: 1px; right: 0px; color: #eee; padding: 5px; border: 0px; background: #E78D00}
.form_contact{   padding: 0 0 10px 0;}
#form_contact input{ padding: 5px;}
/* Download */
.download_box {width: 230px;margin: 0px 25px 10px 0px;text-align: center;border: 1px solid #ddd;}
.download_box p {margin: 0;font-family: RobotoRegular;}
.download_box img {padding: 5px;transform: scale(1);}
.download_box img:hover{transform: scale(1.05);   }
.download_box h3 {text-align: center;font-weight: 100;color: #333;margin: 0px 0px 0px 0px;font-size: 15px;font-family: RobotoBold;width: 100%;display: inline-block;}
.download_box a {margin: auto;display: inline-block;padding: 3px 20px 3px 20px;background: #ff0000;color: #fff;}
.download_box a:hover{background: #13b119;}
/* Album */
.khung_album{width: 100%;display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;grid-gap: 10px;}
.khung_album img{display: block;}
.khung_album h3{text-align: center;width: 100%;margin: 5px 0 0 0;}
.khung_album h3 a{width:  100%;color: #000000;font-size: 15px;font-weight: 700;text-transform: uppercase;}
.khung_album .hinhanh:hover h3 a{color: #d81818;}
.khung_album_images{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 20px;}
.hinhanh_detail{margin-top: 20px;}
.slick_ab{display: none;margin: 10px -10px 0 -10px;}
.slick_ab .slick-slide{margin: 0 10px;}
/*--------------tags---------------------*/
.tags span{font-family: RobotoBlack; font-size: 14px; font-weight: 100;;}
.tags a{color: #333333;font-size: 12px;padding: 4px 10px;margin: 0 3px 6px 0;border: 1px solid #dddddd;border-radius: 20px;display: inline-block;}
.tags a:hover{color: #ff0202;border-color: #ff0202;}
/*-----------------end tags-----------------------*/
/* Doitac */
#doitac{width: 100%;padding: 30px 0;}
.owl_doitac{display: none;margin: 0 -15px;}
.owl_doitac .slick-slide {margin: 0 15px;}
.owl_doitac  .dtl{position: absolute;top: 50%;left: -30px;transform: translateY(-50%);}
.owl_doitac  .dtr{position: absolute;top: 50%;right: -30px;transform: translateY(-50%);}
.owl_doitac .doitac a{display: table; margin: 0 auto;}

.box_doitac{display: grid;width: 100%;grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;grid-gap: 10px;}
.box_doitac > a{display: block; text-align: center; border: 1px solid #dddddd;}
/*++++++++++LEFT+++++++++++*/
.sp_index{width: 100%;display: flex;flex-wrap: wrap;justify-content: space-between;}
div#left {width: 270px;position:  relative;}
.product_detail{width: calc(100% - 290px);}
/*Hover images*/
.hover_img {  width: 100%;overflow: hidden;}
.hover_img:before {  position: absolute;  top: 0;  left: 0;  width: 100%;  height: 100%;  background: #ffffff5e;  content: '';  z-index: 10;  -webkit-transition: -webkit-transform .6s;  transition: transform .6s;  -webkit-transform: scale3d(2.2,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-120%,0);  transform: scale3d(2.2,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-120%,0);}
.hover_img:hover:before {  webkit-transform: scale3d(2.2,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,120%,0);  transform: scale3d(2.2,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,120%,0);}
/* Zoom In #1 */
.hover_zoom{position: relative;overflow:  hidden;display: block;}
.hover_zoom img {-webkit-transform: scale(1);transform: scale(1);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;position: relative;}
.hover_zoom:hover img {-webkit-transform: scale(1.09);transform: scale(1.09);}

.hover1:before {z-index: 1;content: "";position: absolute;left: 10px;right: 10px;top: 10px;bottom: 10px;border-top: 1px solid #fff;border-bottom: 1px solid #fff;transform: scale(0, 1);-moz-transform: scale(0, 1);-webkit-transform: scale(0, 1);-ms-transform: scale(0, 1);transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;-webkit-transition: all 0.4s ease-in-out 0s;}
.hover1:after {z-index: 1;content: "";position: absolute;left: 10px;right: 10px;top: 10px;bottom: 10px;border-left: 1px solid #fff;border-right: 1px solid #fff;transform: scale(1, 0);-moz-transform: scale(1, 0);-webkit-transform: scale(1, 0);-ms-transform: scale(0, 1);transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;-webkit-transition: all 0.4s ease-in-out 0s;}
.hover1:hover:before, .hover1:hover:after {transform: scale(1, 1);-moz-transform: scale(1, 1);-webkit-transform: scale(1, 1);-ms-transform: scale(1, 1); }
/* Service detail */
.baiviet2{width: 100%;display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;grid-gap: 20px;}
.baiviet2.box4{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;grid-gap: 20px;margin: 20px 0;}
.baiviet2 .baiviet2_it{transition: 0.5s all;}
.baiviet2 .baiviet2_it:hover .arrows_left,.baiviet2 .baiviet2_it:hover .arrows_right{opacity: 1;}
.baiviet2 .baiviet2_it .img{width: 100%;margin: 0 0 5px 0;overflow: hidden;}
.baiviet2 .baiviet2_it .arrows_right{position: absolute; top: 50%; right: 5px; transform: translateY(-50%); z-index: 99; opacity: 0; transition: 0.5s all;}
.baiviet2 .baiviet2_it .arrows_left{position: absolute; top: 50%; left: 5px; transform: translateY(-50%); z-index: 99; opacity: 0; transition: 0.5s all;}
.baiviet2 .baiviet2_it .noidung{width: 100%;} 
.baiviet2 .baiviet2_it .noidung > span{font-family: RobotoRegular;font-size: 12px;color: #b8b8b8;font-style: italic;}
.baiviet2 .baiviet2_it .khung > a{display: block;margin: 0 0 5px  0;}
.baiviet2 .baiviet2_it img{display: block;}
.baiviet2 .baiviet2_it h3{width:  100%;position:  relative;}
.baiviet2 .baiviet2_it h3 a{font-size: 14px;color: #000000;font-weight: 700;overflow: hidden;text-overflow: ellipsis;line-height: 25px;-webkit-line-clamp: 2;max-height: 50px;display: -webkit-box;-webkit-box-orient: vertical;}
.baiviet2 .baiviet2_it:hover h3 a{color: #3952a4;}
.baiviet2 .baiviet2_it p{font-size: 13px;color: #333333;width:  100%;font-weight: 400;padding: 0;overflow: hidden;text-overflow: ellipsis;line-height: 25px;-webkit-line-clamp: 3;max-height: 75px;display: -webkit-box;-webkit-box-orient: vertical;text-align: justify;}
.baiviet2 .baiviet2_it p.ngaydang{background: url('images/calender.png') no-repeat left center;padding: 0 0 0 20px;font-size: 12px;-webkit-line-clamp: 1;max-height: 25px;font-style: italic;}
.baiviet2 .baiviet2_it a.xemthem{font-size:  14px;color:  #2882ce;font-family:  RobotoRegular;padding: 10px 30px;border: 1px solid #2882ce;border-radius: 10px; transition: 1s all;display:  inline-block;}
.baiviet2 .baiviet2_it a.xemthem:hover{color: #000000; border: 1px solid #000000;}
.owl_tinkhac{margin: 0 -10px;}
.owl_tinkhac .slick-slide{margin: 0 10px;}
.owl_tinkhac .baiviet2_it{display: none;}
/* Vi sao */
#visao{padding: 20px 0;}
.slick_visao{display: none;margin: 0;}
.slick_visao .slick-slide{padding: 0 20px;border-left: 1px dashed #ff58ae;}
/*.slick_visao .slick-slide.slick-current{border: none;padding-left: 0;}*/
.visao{display: flex !important;flex-wrap: wrap;justify-content: space-between;align-items: center;}
.visao img{display: inline-block !important;}
.visao .noidung{width: calc(100% - 50px);}
.visao h3{font-size: 14px;color: #ffffff;font-weight: 700;text-transform: uppercase;}
.visao .mota{font-size: 14px;color: #ffc5e3;font-weight: 400;font-style: italic;overflow: hidden;text-overflow: ellipsis;line-height: 25px;-webkit-line-clamp: 1;max-height: 25px;display: -webkit-box;-webkit-box-orient: vertical;}
.vechungtoi:hover img{transform: rotate(360deg);-moz-transform: rotate(360deg);-webkit-transform: rotate(360deg);-o-transform: rotate(360deg); transition: all 1s;}
/* Hinh anh */
#hinhanh{padding: 40px 0;}
#hinhanh .title h2{font-family: 'Noto Serif', serif;font-size: 34px;color: #2a9256;}
#hinhanh .title p{ color: #727272;font-family: 'Roboto', sans-serif;font-size: 14px;padding: 10px 0px;text-transform: none;}
.box_hinhanh{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;grid-gap: 10px; position: relative;}
.box_hinhanh > img{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }
.box_hinhanh .bao_hinhanh.hidden{display: none;}
.bao_hinhanh{position: relative;overflow:hidden;}
.tieude_hinhanh{position: absolute;bottom: 24px;width: 100%;text-align: center;background: rgba(20, 22, 26, 0.7);padding: 12px 0px;margin-bottom: -50px;opacity: 0;visibility: hidden;}
.tieude_hinhanh h4{color: #fff;font-family: 'Roboto', sans-serif;font-size: 14px; }
.bao_hinhanh:hover .tieude_hinhanh{bottom: 0px;transition: 0.5s all;opacity: 1;visibility: visible;margin-bottom: 0px;}
/*Xem them*/
.xemthem_ha{display: table;margin: 20px auto;background: #2a9256;padding: 10px 20px;border-radius: 5px;}
.xemthem_ha:hover{background: #2a925670;transition: 0.5s all;}
.xemthem_ha a{text-align: center;color: #fff;font-family: 'Roboto', sans-serif;font-size: 14px;text-transform: uppercase;}
/*Lĩnh vuc*/
.linhvuc {margin: 0px 3px;display: none;}
.linhvuc .slick-slide{margin: 0px 3px;padding: 10px;}
#linhvuc {padding-top: 45px;position: relative;}
#linhvuc h2{font-family: 'Noto Serif', serif;font-size: 34px;color: #2a9256;}
#linhvuc .title p{text-transform: none;font-family: 'Roboto', sans-serif;font-size: 14px;color: #727272;padding: 10px 0px;}
#linhvuc .nd_lv{width: 100%;overflow: hidden;max-height: 85px;-webkit-line-clamp: 3;display: -webkit-box;-webkit-box-orient: vertical; text-align: center}
#linhvuc .nd_lv p{padding-top:10px !important;line-height: 27px;text-align: initial !important;text-transform: none!important;font-family: 'Roboto', sans-serif !important;font-size: 14px !important;}
.linhvuc{padding: 25px 0px;}
.linhvuc .noidung{border: 1px solid #ebedf0;padding: 10px 20px 10px 20px; height: 180px;position: relative;}
.linhvuc .noidung h3{text-align: left;padding: 5px 0px;}
.linhvuc .noidung h3 a{font-family: 'Noto Serif', serif;font-size: 16px;color: #333; text-transform: uppercase;}
.linhvuc .noidung h3:hover a{color: #2a9256;transition: 0.5s all;}
.linhvuc .noidung:after{content: "";bottom: -1px;position: absolute;border: 13px solid transparent;border-top-color: #dddfe2;border-right-color: #fbfbfb;border-bottom-color: #f5f6f7;border-left-color: #dddddd;display: block;width: 0px;right: -1px;z-index: 999;}
/*cam nhan*/
#camnhan .tieude_camnhan{text-align: center;position: relative;}
#camnhan .camnhan{background: #ffffff;padding: 25px;}
#camnhan .camnhan:hover{-webkit-box-shadow: 0px 0 0 0px rgba(0, 0, 0, 0.4);-moz-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.75);box-shadow: 0px 0 12px 2px rgba(0, 0, 0, 0.15);transition: 0.5s all;}
#camnhan{padding: 45px 0px;background: #f5f6f7;}
#camnhan .noidung h3{ font-family: 'Roboto', sans-serif;font-size: 22px;color: #333;padding: 15px 0 40px 0px;position: relative;}
#camnhan .noidung h3:after{position: absolute;content: "";border-bottom: 2px solid #2a9256;width: 47px;bottom: 26px;right: 43%;}
#camnhan .title h2{font-family: 'Noto Serif', serif;font-size: 34px;color: #2a9256;}
#camnhan .title p{ color: #727272;font-family: 'Roboto', sans-serif;font-size: 14px;padding: 10px 0px;text-transform: none;}
#camnhan .img_cn{display: table;margin: 0px auto;border-radius: 50%;border: 2px solid #2a9256;}
#camnhan .noidung{text-align: center;}
#camnhan .noidung p{font-family: 'Roboto', sans-serif;color: #5d5d5d;font-weight: 400;overflow: hidden;max-height: 100px;-webkit-line-clamp: 4;display: -webkit-box;-webkit-box-orient: vertical;text-align: center;padding: 0 10px 10px 10px;}
.slick_camnhan {display: none;margin:0px -20px;}
.slick_camnhan .slick-slide{margin: 0px 20px;padding: 10px;}
/*Tiện ích*/
#tienich{padding: 20px 0px;}
#tienich .tienich{display: flex;justify-content: space-between;align-items: center;}
#tienich .tienich .khung_tienich{width: 51%;}
#tienich .tienich .khung_tienich .tienich_it{display: flex;justify-content: space-between;align-items: center;}
#tienich .tienich .khung_tienich .tienich_it .noidung{font-family: 'Roboto', sans-serif;width: calc(100% - 80px);font-size: 12px;}
#tienich .tienich .khung_tienich .tienich_it .noidung h3{font-size: 14px; color: #333;}
#tienich .tienich .khung_tienich .tienich_it .noidung:hover h3{color: #3952a4;}
.tienich_it:hover img{transform: rotate(360deg);-moz-transform: rotate(360deg);-webkit-transform: rotate(360deg);-o-transform: rotate(360deg);transition: all 1s;}