@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap');

@font-face {
    font-family: 'SVN-CiaoBella';
    src: url('font/SVN-CiaoBella/SVN-CiaoBella.eot');
    src: url('font/SVN-CiaoBella/SVN-CiaoBella.eot?#iefix') format('embedded-opentype'),
        url('font/SVN-CiaoBella/SVN-CiaoBella.woff2') format('woff2'),
        url('font/SVN-CiaoBella/SVN-CiaoBella.woff') format('woff'),
        url('font/SVN-CiaoBella/SVN-CiaoBella.ttf') format('truetype'),
        url('font/SVN-CiaoBella/SVN-CiaoBella.svg#SVN-CiaoBella') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SVN-ALoveOfThunder';
    src: url('font/SVN-ALoveOfThunder/SVN-ALoveOfThunder.eot');
    src: url('font/SVN-ALoveOfThunder/SVN-ALoveOfThunder.eot?#iefix') format('embedded-opentype'),
        url('font/SVN-ALoveOfThunder/SVN-ALoveOfThunder.woff2') format('woff2'),
        url('font/SVN-ALoveOfThunder/SVN-ALoveOfThunder.woff') format('woff'),
        url('font/SVN-ALoveOfThunder/SVN-ALoveOfThunder.ttf') format('truetype'),
        url('font/SVN-ALoveOfThunder/SVN-ALoveOfThunder.svg#SVN-ALoveOfThunder') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTMAvoBold';
    src: url('font/UTMAvoBold/UTMAvoBold.eot');
    src: url('font/UTMAvoBold/UTMAvoBold.eot?#iefix') format('embedded-opentype'),
        url('font/UTMAvoBold/UTMAvoBold.woff2') format('woff2'),
        url('font/UTMAvoBold/UTMAvoBold.woff') format('woff'),
        url('font/UTMAvoBold/UTMAvoBold.ttf') format('truetype'),
        url('font/UTMAvoBold/UTMAvoBold.svg#UTMAvoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}